inc/shs0001.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://its.appstate.edu/xml/ess/shs/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://its.appstate.edu/xml/ess/shs/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Electronic Student (Web) Services for Student Housing - Registration</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://its.appstate.edu/xml/ess/shs/">
      <s:element name="GetStudentProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="profile" type="tns:Profile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Profile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="banner_id" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="last_name" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="first_name" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="middle_name" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="dob" nillable="true" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="gender" nillable="true" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="deposit_date" nillable="true" type="s:date" />
          <s:element minOccurs="1" maxOccurs="1" name="deposit_waived" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="student_type" nillable="true" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="application_term" nillable="true" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="projected_class" nillable="true" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="credhrs_completed" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="credhrs_for_term" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="on_campus" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="honors" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="teaching_fellow" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="watauga_member" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="student_level" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="international" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="address" nillable="true" type="tns:Address" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="phone" nillable="true" type="tns:Phone" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="disability" nillable="true" type="tns:Disability" />
        </s:sequence>
        <s:attribute name="student_id" type="s:NMTOKEN" />
        <s:attribute name="term_code" type="s:NMTOKEN" />
        <s:attribute name="error_num" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="atyp_code" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="line1" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="line2" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="line3" nillable="true" type="s:token" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="county" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="state" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="zip" nillable="true" type="s:token" />
        </s:sequence>
        <s:attribute name="type_code" type="s:NMTOKEN" />
        <s:attribute name="seqno" type="s:short" use="required" />
      </s:complexType>
      <s:complexType name="Phone">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="area_code" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="number" nillable="true" type="s:token" />
          <s:element minOccurs="1" maxOccurs="1" name="ext" nillable="true" type="s:token" />
        </s:sequence>
        <s:attribute name="type_code" type="s:NMTOKEN" />
        <s:attribute name="seqno" type="s:short" use="required" />
      </s:complexType>
      <s:complexType name="Disability">
        <s:attribute name="type_code" type="s:NMTOKEN" />
        <s:attribute name="desc" type="s:token" />
      </s:complexType>
      <s:element name="CreateHousingApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PlanCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MealCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateHousingAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateHousingAppResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHousMealRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Option" type="tns:HousMealLookupOpt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="HousMealLookupOpt">
        <s:restriction base="s:string">
          <s:enumeration value="All" />
          <s:enumeration value="HousingApp" />
          <s:enumeration value="RoomAssign" />
          <s:enumeration value="MealAssign" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetHousMealRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="housmeal_register" type="tns:HousMealRegister" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HousMealRegister">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="housing_app" nillable="true" type="tns:HousingApp" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="room_assign" nillable="true" type="tns:RoomAssign" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="meal_assign" nillable="true" type="tns:MealAssign" />
        </s:sequence>
        <s:attribute name="student_id" type="s:NMTOKEN" />
        <s:attribute name="term_code" type="s:NMTOKEN" />
        <s:attribute name="error_num" type="s:int" use="required" />
        <s:attribute name="option" type="tns:HousMealLookupOpt" use="required" />
      </s:complexType>
      <s:complexType name="HousingApp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="plan_code" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="status_code" nillable="true" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="status_date" nillable="true" type="s:date" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoomAssign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="bldg_code" type="s:NMTOKEN" />
          <s:element minOccurs="0" maxOccurs="1" name="room_code" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="status_code" nillable="true" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="status_date" nillable="true" type="s:date" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MealAssign">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="plan_code" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="status_code" nillable="true" type="s:NMTOKEN" />
          <s:element minOccurs="1" maxOccurs="1" name="status_date" nillable="true" type="s:date" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BannerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRoomAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BldgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoomCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PlanCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MealCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRoomAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateRoomAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveRoomAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BldgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RoomCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveRoomAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveRoomAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveRoomAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurBldgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurRoomCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewBldgCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewRoomCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveRoomAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MoveRoomAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMealAssignment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TermCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MealCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveMealAssignmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveMealAssignmentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentProfile" />
  </wsdl:message>
  <wsdl:message name="GetStudentProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentProfileResponse" />
  </wsdl:message>
  <wsdl:message name="CreateHousingAppSoapIn">
    <wsdl:part name="parameters" element="tns:CreateHousingApp" />
  </wsdl:message>
  <wsdl:message name="CreateHousingAppSoapOut">
    <wsdl:part name="parameters" element="tns:CreateHousingAppResponse" />
  </wsdl:message>
  <wsdl:message name="GetHousMealRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:GetHousMealRegister" />
  </wsdl:message>
  <wsdl:message name="GetHousMealRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:GetHousMealRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="CreateRoomAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:CreateRoomAssignment" />
  </wsdl:message>
  <wsdl:message name="CreateRoomAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:CreateRoomAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveRoomAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveRoomAssignment" />
  </wsdl:message>
  <wsdl:message name="RemoveRoomAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveRoomAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="MoveRoomAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:MoveRoomAssignment" />
  </wsdl:message>
  <wsdl:message name="MoveRoomAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:MoveRoomAssignmentResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveMealAssignmentSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveMealAssignment" />
  </wsdl:message>
  <wsdl:message name="RemoveMealAssignmentSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveMealAssignmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_shs0001Soap">
    <wsdl:operation name="GetStudentProfile">
      <wsdl:input message="tns:GetStudentProfileSoapIn" />
      <wsdl:output message="tns:GetStudentProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateHousingApp">
      <wsdl:input message="tns:CreateHousingAppSoapIn" />
      <wsdl:output message="tns:CreateHousingAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHousMealRegister">
      <wsdl:input message="tns:GetHousMealRegisterSoapIn" />
      <wsdl:output message="tns:GetHousMealRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateRoomAssignment">
      <wsdl:input message="tns:CreateRoomAssignmentSoapIn" />
      <wsdl:output message="tns:CreateRoomAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveRoomAssignment">
      <wsdl:input message="tns:RemoveRoomAssignmentSoapIn" />
      <wsdl:output message="tns:RemoveRoomAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveRoomAssignment">
      <wsdl:input message="tns:MoveRoomAssignmentSoapIn" />
      <wsdl:output message="tns:MoveRoomAssignmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMealAssignment">
      <wsdl:input message="tns:RemoveMealAssignmentSoapIn" />
      <wsdl:output message="tns:RemoveMealAssignmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_shs0001Soap" type="tns:ws_shs0001Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentProfile">
      <soap:operation soapAction="http://its.appstate.edu/xml/ess/shs/GetStudentProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHousingApp">
      <soap:operation soapAction="http://its.appstate.edu/xml/ess/shs/CreateHousingApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousMealRegister">
      <soap:operation soapAction="http://its.appstate.edu/xml/ess/shs/GetHousMealRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://its.appstate.edu/xml/ess/shs/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRoomAssignment">
      <soap:operation soapAction="http://its.appstate.edu/xml/ess/shs/CreateRoomAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRoomAssignment">
      <soap:operation soapAction="http://its.appstate.edu/xml/ess/shs/RemoveRoomAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveRoomAssignment">
      <soap:operation soapAction="http://its.appstate.edu/xml/ess/shs/MoveRoomAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMealAssignment">
      <soap:operation soapAction="http://its.appstate.edu/xml/ess/shs/RemoveMealAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_shs0001Soap12" type="tns:ws_shs0001Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentProfile">
      <soap12:operation soapAction="http://its.appstate.edu/xml/ess/shs/GetStudentProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateHousingApp">
      <soap12:operation soapAction="http://its.appstate.edu/xml/ess/shs/CreateHousingApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousMealRegister">
      <soap12:operation soapAction="http://its.appstate.edu/xml/ess/shs/GetHousMealRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://its.appstate.edu/xml/ess/shs/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRoomAssignment">
      <soap12:operation soapAction="http://its.appstate.edu/xml/ess/shs/CreateRoomAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRoomAssignment">
      <soap12:operation soapAction="http://its.appstate.edu/xml/ess/shs/RemoveRoomAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveRoomAssignment">
      <soap12:operation soapAction="http://its.appstate.edu/xml/ess/shs/MoveRoomAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMealAssignment">
      <soap12:operation soapAction="http://its.appstate.edu/xml/ess/shs/RemoveMealAssignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_shs0001">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Electronic Student (Web) Services for Student Housing - Registration</wsdl:documentation>
    <wsdl:port name="ws_shs0001Soap" binding="tns:ws_shs0001Soap">
      <soap:address location="http://banservice.appstate.edu/wsvcs/ess/shs/shs0001.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_shs0001Soap12" binding="tns:ws_shs0001Soap12">
      <soap12:address location="http://banservice.appstate.edu/wsvcs/ess/shs/shs0001.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>